{% extends 'base.html' %}
{% load static %}
{% block header %}
    <a href="{% url 'result' url="" pk=object.id %}">
        <paper-button style="color:white">Result</paper-button>
    </a>
    <paper-button style="color:white" onclick="iframe_refresh();">Refresh</paper-button>
    <paper-button style="color:white" onclick="iframe_back();">Back</paper-button>
    <paper-button style="color:white" onclick="iframe_forward();">Forward</paper-button>
{% endblock %}
{% block nav %}
    <h1> Project files</h1>
    <ul>
        {% for file in object.fiddlefile_set.all %}
            {% if user == object.owner %}
                <a href="{% url 'file-edit' pk=object.id path=file.path %}">
            {% else %}
                <a href="{% url 'file-view' pk=object.id path=file.path %}">
            {% endif %}
        <paper-card>
            {{ file.path }}
        </paper-card>
        </a>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    <div id="click"> Click one of the files on the left to start editing!</div>
    <iframe id="preview" src="{% static 'loading.html' %}"></iframe>
    <style type="text/css">
        #click{
            position: absolute;
            bottom: 0;
            top: 5px;
            border: none;
            left: 0;
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script>
        function iframe_back() {
            $("#preview iframe").contentWindow.history.back();
        }
        function iframe_forward() {
            $("#preview iframe").contentWindow.history.forward();
        }
        function iframe_refresh() {
            $("#preview iframe").src = $("#preview iframe").src;
        }

        $(function () {
            $("iframe").attr('src', '/{{ object.id }}/result/');
        });
    </script>
{% endblock %}
