{% extends 'base.html' %}
{% load static %}
{% block header %}
    <a>
        <paper-button name="submit-file" onclick="update_file();" style="font-weight:bold;color:white">Save File
        </paper-button>
    </a>
{% endblock %}
{% block nav %}
    <h1> Project files</h1>
    <ul>
        {% for file in object.fiddle.fiddlefile_set.all %}
            {% if user == object.fiddle.owner %}
                <a class="fileitem" href="{% url 'file-edit' pk=object.fiddle.id path=file.path %}">
            {% else %}
                <a class="fileitem" href="{% url 'file-view' pk=object.fiddle.id path=file.path %}">
            {% endif %}
        <paper-card {% if file == object %}style="background-color: rgba(11, 128, 67, 0.25)"{% endif %}>
            {{ file.path }}
        </paper-card>
        </a>
        {% endfor %}
    </ul>
    <style type="text/css">
        .offscreen {
            position: fixed;
            top: -500px;
            left: -500px;
        }

        #cont paper-item {
            cursor: pointer;
        }

        #cont paper-item:hover {
            background-color: #00b8d4;
        }
    </style>
    <paper-menu id="cont" class="offscreen">
        <paper-item>Create new Item</paper-item>
        <paper-item>Rename Item</paper-item>
    </paper-menu>
{% endblock %}
{% block content %}

    <div id="editor"></div>
    <wrapped-iframe load="/{{ object.fiddle.id }}/result/" src="/static/loading.html" id="preview"
                    baseurl="/{{ object.fiddle.id }}/result/"></wrapped-iframe>
    <script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script type="text/javascript">
        function iframe_refresh() {
            /* This function takes care of refreshing the preview for us */
            $("iframe").attr('src', $("iframe").attr('src'));
        }
        function update_file() {
            /*
             This function reads in the contents from the editor
             and updates the resource on the server. If it succeeds
             it will refresh the preview.
             */
            var editor = ace.edit("editor");
            code = editor.getValue();
            var csrf = $("{% csrf_token %}").attr("value"); // This is needed because of django
            $.post("", {content: code, csrfmiddlewaretoken: csrf}, iframe_refresh);
        }
        {% block scripts %}
            /*This part can be extended by other django templates that inherit
             from fiddlefile.html */
        {% endblock %}
        $(function () {
            var editor = ace.edit("editor");
            // Below we render the file_content from django into javascript
            var con = "{{ file_content|escapejs }}";
            editor.setValue(con, -1); // Reset the Cursor
            editor.setTheme("ace/theme/chrome");
            if (window.location.pathname.indexOf(".js") > -1)
                editor.getSession().setMode("ace/mode/javascript");
            if (window.location.pathname.indexOf(".py") > -1)
                editor.getSession().setMode("ace/mode/python");
            if (window.location.pathname.indexOf(".html") > -1)
                editor.getSession().setMode("ace/mode/html");
            if (window.location.pathname.indexOf(".rb") > -1)
                editor.getSession().setMode("ace/mode/ruby");
            var hidecontext = function () {
                document.getElementById("cont").style.top = "-500px";
                document.getElementById("cont").style.left = "-500px";
                document.getElementById("explorer").removeEventListener("click");
                var files = document.getElementsByClassName("fileitem");
                for (i = 0; i < files.length; i++) {
                    files[i].removeEventListener("click");
                }
                return false;
            };
            document.getElementById("explorer").addEventListener(
                    "contextmenu",
                    function (ev) {
                        ev.preventDefault();
                        console.log(ev);
                        document.getElementById("cont").style.top = ev.clientY + "px";
                        document.getElementById("cont").style.left = ev.clientX + "px";
                        var files = document.getElementsByClassName("fileitem");
                        for (i = 0; i < files.length; i++) {
                            files[i].addEventListener("click", hidecontext, false);
                        }
                        document.getElementById("explorer").addEventListener("click", hidecontext, false);
                    });
        });


    </script>
{% endblock %}
