sphinx_rtd_theme
Django==1.8.5
argparse==1.2.1
django-model-utils==2.3.1
factory-boy==2.6.0
fabric
django-http-proxy
django-debug-toolbar
python-social-auth
celery
selenium
pytest-bdd
pytest-django
coverage
django-statsd-mozilla
docker-py
urllib3
django-revproxy
psycopg2cffi