<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' type='text/css'>
    <style type="text/css">
        * {
            font-family: 'Roboto', sans-serif;
            flex: 1 1 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
        }

        style {
            display: none;
        }
    </style>
</head>
<body>
<h1> Success </h1>

<p>This page is a django template rendered by a django TemplateView</p>

<p>
    You can edit the contents of this page on the left, and click save file
    to apply your changes.
</p>

<p>
    You can edit the other files as well, and create models and
    views to demonstrate code to others.
</p>

<p>
    If you would like to learn django you can find a tutorial
    <a href="https://docs.djangoproject.com/en/1.8/intro/tutorial01/">here</a>,
    feel free to try it out on backendfail!
</p>

</body>
</html>
