<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' type='text/css'>
    <style type="text/css">
        * {
            font-family: 'Roboto', sans-serif;
            flex: 1 1 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
        }

        style {
            display: none;
        }
    </style>
</head>
<body>
{% block content %}
    <h1>This is a template</h1>
    <p>
        Being a web framework, Django needs a convenient way to generate HTML dynamically.
    </p>
    <p>
        The most common approach relies on templates.
    </p>
    <p>
        A template contains the static parts of the desired HTML output as well as some
        special syntax describing how dynamic content will be inserted.
        For example it can contain dynamically generated links to the rest of the
        application:
    </p>
    <a href="{% url 'blog-create' %}">Create new blog!</a>
    <a href="{% url 'blog-list' %}">View blogs</a>
{% endblock %}
<p>
    For reference on django templates see
    <a target="_blank" href="https://docs.djangoproject.com/en/1.8/intro/tutorial03/">
        Part 3 of the Django Tutorial</a>.
</p>
</body>
</html>
