{% extends 'base.html' %}
{% load static %}
{% block header %}
    <a>
        <paper-button name="submit-file" onclick="update_file();" style="font-weight:bold;color:white">Save File
        </paper-button>
    </a>
    <paper-button style="color:white" onclick="iframe_back();">Back</paper-button>
    <paper-button style="color:white" onclick="iframe_forward();">Forward</paper-button>
{% endblock %}
{% block nav %}
    <h1> Project files</h1>
    <ul>
        {% for file in object.fiddle.fiddlefile_set.all %}
            {% if user == object.fiddle.owner %}
                <a href="{% url 'file-edit' pk=object.fiddle.id path=file.path %}">
            {% else %}
                <a href="{% url 'file-view' pk=object.fiddle.id path=file.path %}">
            {% endif %}
        <paper-card {% if file == object %}style="background-color: rgba(11, 128, 67, 0.25)"{% endif %}>
            {{ file.path }}
        </paper-card>
        </a>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}

    <div id="editor"></div>
    <iframe id="preview" src="{% static 'loading.html' %}"></iframe>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script type="text/javascript">
        function iframe_refresh() {
            $("iframe").attr('src', $("iframe").attr('src'));
        }
        function update_file() {
            var editor = ace.edit("editor");
            code = editor.getValue();
            var csrf = $("{% csrf_token %}").attr("value");
            console.log(csrf);
            $.post("", {
                content: code, csrfmiddlewaretoken: csrf
            }, iframe_refresh);
        }
        var editor = ace.edit("editor");
        var con = "{{ file_content|escapejs }}";
        console.log(con);
        editor.setValue(con, -1);
        editor.setTheme("ace/theme/chrome");
        {% block scripts %}
        {% endblock %}
        $(function () {
            if (window.location.pathname.indexOf(".js") > -1)
                editor.getSession().setMode("ace/mode/javascript");
            if (window.location.pathname.indexOf(".py") > -1)
                editor.getSession().setMode("ace/mode/python");
            if (window.location.pathname.indexOf(".html") > -1)
                editor.getSession().setMode("ace/mode/html");
            function iframe_back() {
                $("#preview iframe").contentWindow.history.back();
            }

            function iframe_forward() {
                $("#preview iframe").contentWindow.history.forward();
            }


            $("iframe").attr('src', '/{{ object.fiddle.id }}/result/');
        });
    </script>
{% endblock %}
