{% extends 'base.html' %}
{% block header %}
<a href="{% url 'start' pk=object.id %}">Start</a>
<a href="{% url 'stop' pk=object.id %}">Stop</a>
<a href="{% url 'restart' pk=object.id %}">Reload</a>
<a href="{% url 'result' url="" pk=object.id %}">Result</a>
{% endblock %}
{% block nav %}
    <ul>
        {% for file in object.fiddlefile_set.all %}
            <a href="{{ file.get_absolute_url }}">
                <li>{{ file.path }}</li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    Click one of the files on the left to start editing!
{% endblock %}
