{% extends 'base.html' %}
{% block header %}

    <a href="{% url 'start' pk=object.id %}">
        <paper-button style="color:white">Start</paper-button>
    </a>
    <a href="{% url 'stop' pk=object.id %}">
        <paper-button style="color:white">Stop</paper-button>
    </a>
    <a href="{% url 'restart' pk=object.id %}">
        <paper-button style="color:white">Reload</paper-button>
    </a>
    <a href="{% url 'result' url="" pk=object.id %}">
        <paper-button style="color:white">Result</paper-button>
    </a>
{% endblock %}
{% block nav %}
    <ul>
        {% for file in object.fiddlefile_set.all %}
            <a href="{{ file.get_absolute_url }}">
                <paper-item>
                    <paper-item-body two-line>
                        <div>{{ file.path }}</div>
                        <div secondary></div>
                    </paper-item-body>
                </paper-item>
            </a>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    Click one of the files on the left to start editing!
{% endblock %}
