{% extends 'base.html' %}
{% block header %}
    <a href="{% url 'start' pk=object.fiddle.id %}"><paper-button style="color:white">Start</paper-button></a>
    <a href="{% url 'stop' pk=object.fiddle.id %}"><paper-button style="color:white">Stop</paper-button></a>
    <a href="{% url 'restart' pk=object.fiddle.id %}"><paper-button style="color:white">Reload</paper-button></a>
    <a href="{% url 'result' url="" pk=object.fiddle.id %}"><paper-button style="color:white">Result</paper-button></a>
{% endblock %}
{% block nav %}
    <ul>
        {% for file in object.fiddle.fiddlefile_set.all %}
            <a href="{{ file.get_absolute_url }}">
                <paper-item>
                    <paper-item-body two-line>
                        <div>{{ file.path }}</div>
                        <div secondary></div>
                    </paper-item-body>
                </paper-item>
            </a>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    <style type="text/css">textarea{
        position:absolute;bottom:0;top:5px;border:none;
        width:100%; height:100%;}</style>
    <form action="" method="post">
        <button>Submit</button>
        {% csrf_token %}
        {{ form.as_p }}
    </form>
{% endblock %}
